.auth {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto;
}
.auth > form {
  display: flex;
  flex-direction: column;
  min-width: 30%;
}
.auth > form > input {
  outline-style: none;
  padding: 10px;
  margin: 15px 0px;
  border: 1px solid grey;
  border-radius: 4px;
}
.auth > form > input::placeholder {
  color: rgb(158, 158, 158);
}
.form-btn {
  margin: 10px 0px !important;
}
.check {
  cursor: pointer !important;
}
