.cart-item {
  /* width: 60%; */
  background-color: rgb(255, 255, 255);
  flex: 1;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 180px;
  border-bottom: 0.5px solid rgba(156, 156, 156, 0.1);
  transition: all 0.3s ease-out;
  cursor: pointer;
  /* box-shadow: 0px 0.5px 5px rgba(143, 143, 143, 0.5); */
}
body {
  height: 100vh;
}
.cart-section {
  position: sticky;
  top: 0%;
  height: 100vh;
  width: 100%;
}
.cart-item > .cart-image {
  width: 200px;
  height: 180px;
  margin-right: 10px;
}
.cart-image > img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  /* object-position: left; */
}
.cart-info {
  flex: 1;
  height: 80%;
  margin: auto opx;
  display: flex;
  flex-direction: column;
}
.title-cart {
  display: flex;
  align-items: center;
  color: rgb(87, 86, 86);
  text-transform: capitalize;
  justify-content: space-between;
}
.cart-price {
  margin: 10px 0px;
  font-weight: 600;
  color: rgb(54, 54, 54);
}
.cart-remove {
  margin-top: auto;
  width: 200px;
}
.cart-item:hover {
  /* opacity: 0.8; */
  /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); */
  transform: scale(0.9);
  border-radius: 3px;
}
.cart-quantity {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cart-quantity > p {
  margin: 0px 2px;
  color: rgb(82, 82, 82);
  font-weight: 600;
}

.load {
  display: flex;

  justify-content: center;
  align-items: center;
  margin: auto auto;
  height: 180px;
}
.cart {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-height: 100vh;
  background: #7474bf; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #348ac7,
    #7474bf
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #348ac7,
    #7474bf
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  overflow-y: scroll;
}
.cart::-webkit-scrollbar {
  display: none;
}
.cart-main {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}
.cart-total {
  height: 10vh;
  width: 40%;
  position: fixed;
  right: 0%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: white; */
}
.cart-total-box {
  width: 80%;
  height: 30vh;
  background-color: rgba(255, 255, 255, 0.7);
  background: #7474bf; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #348ac7,
    #7474bf
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #348ac7,
    #7474bf
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.cart-total-box > h3 {
  width: 100%;
  text-align: center;
  padding: 10px;
  color: whitesmoke;
  font-weight: 500;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}
.cart-details {
  width: 70%;
  margin: 0px auto;
  padding: 30px;
  display: flex;
  justify-content: space-around;
}
.cart-details > .cart-total-items,
.cart-total-price {
  margin-bottom: 10px;
  color: whitesmoke;
}
.checkout-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0px auto;
}
.checkout-btn > button {
  padding: 8px 14px;
  cursor: pointer;
  outline-style: none;
  border: none;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease-out;
  color: #254677;
  box-shadow: 5px 5px 10px rgba(83, 83, 83, 0.3);
}
.checkout-btn > button:active {
  transform: scale(0.9);
}
@media screen and (max-width: 768px) {
  .cart-item {
    width: 100%;
  }
  .cart {
    height: 100%;
    width: 100%;
  }
  .cart-main {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0%;
    height: 100%;
  }
  .cart-total {
    width: 100%;
    height: 20vh;
    position: sticky;
    bottom: 0%;
  }
  .cart-total-box {
    width: 100%;

    height: 20vh;
    background-color: grey;
  }
  .cart-details {
    padding: 10px 0px;
  }
}
@media screen and (max-width: 280px) {
  .cart-item {
    flex-direction: column;
    height: 100%;
  }
  .cart-info {
    width: 100%;
  }
}
